.ad-gold {
    color: #8e774d;
}
.ad-red {
    color: #A12B2F;
}
.ad-text-color{
    color: #1c1812;
}
.ad-text-font-1 { 
    font-family: Georgia,Times,Times New Roman,serif; 
}
.ad-text-font-2 { 
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; 
}

html, body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    line-height: 1.5;
    height: 100%;
    background: #F3ECEC;
}

.pointer {cursor: pointer;}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
    background: #2C3E50;
    
}